.navbar{
    @include flexRow;
    height: 18vh;
    padding: 0 3rem;
   
    @include respond(phone){
        height: 15vh;
    }
    &__logobox{
        width: 8%;
        .logo{
            @include imageFit;
        }
        @include respond(phone){
            width: 15%;
        }
    }
    &__textbox{
       width: 60%;
       position: relative;
       padding: 2.5rem 0;
       @include respond(phone){
        width: 75%;
    }
     
    }
    &__list{
        list-style: none;
        position: absolute;
        right: 0;
    }
    &__item{
        display: inline-block;
        text-transform: capitalize;
        font-size: 2.5rem;
        font-weight: 600;
        padding: 0 0 .5rem .5rem;
        transition: all .2s ease-in;
        @include respond(phone){
            font-size: 1.5rem;
        }
        &:hover{
            transform: scale(1.1);
            border-left: 2px solid $color-light;
            border-bottom: 2px solid $color-light;
        }
        &:not(:last-child){
            margin-right: 3rem;
        }
    }
    &__link{
        text-decoration: none;
        color: $color-dark;
    }
    
}